#pagination {
    text-align: center;
    margin-bottom: 2%;
}

.pages, #pages-active {
    min-width: 2.1em;
    padding: 4px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.7em;
    cursor: pointer;
    border: 1px solid #555555;
    border-radius: 1.1em;
    transition-duration: 0.4s;
}

.pages {
    color: black;
}

.pages:hover {
    background-color: #555555;
    color: white;
    border: 1px solid #555555;
}

#pages-active {
    background-color: #555555;
    color: white;
    pointer-events: none;
    cursor: default;
}
