<div>
    <form id="sortForm" action="/posts">
        Posts per page
        <select id="sort_opt" name="limit" onchange="sortFunc()">
            <option value=5 selected>5</option>
            <option value=10>10</option>
            <option value=20>20</option>
        </select>
    </form>
</div>
